.DS_Store

node_modules/
npm-debug.log*
package-lock.json

*.tsbuildinfo
*.d.ts.map
*.js.map

logs/
*.log
*.log.*


.vscode/
*.swp
*.swo

coverage/
.nyc_output/

.env
.env.local
.env.*.local

*.tgz
*.zip